nav{
    
    background-color:darkslategrey;
    text-decoration: none;
    font-size: larger;
    width: 300px;
    height:40px ;
   
    padding:2px 2px ;
    float: right;
    position: fixed;
    
}
a{
    color: white;
    text-decoration: none;
    margin:2px 2px ;
    font-size: larger;

   
}
a:hover{
    color:grey;
    
    
}
 .a {
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  transition: transform 0.3s ease;
  width: 1300px ;
  margin:2px 20px ;
  background-color:#000033 ;
  color:#D4AF37;
}
.a:hover{
 transform: scale(1.02);
}
